In [22]:
import pandas as pd
from conexao_banco import conexao_aws
import os

In [23]:
usuario_sql = os.getenv('usuario_sql')
senha_sql = os.getenv('senha_sql')
aws = conexao_aws(senha=senha_sql, usuario=usuario_sql, nome_do_banco='varos_dashs')
aws.iniciar_conexao()

In [24]:
dataframe = pd.read_csv("close.csv")
dataframe

,Date,ABEV3.SA,ALPA4.SA,ALSO3.SA,ARZZ3.SA,ASAI3.SA,AZUL4.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,...,TOTS3.SA,UGPA3.SA,USIM5.SA,VALE3.SA,VBBR3.SA,VIIA3.SA,VIVT3.SA,WEGE3.SA,YDUQ3.SA,^BVSP
0,2021-03-19,15.60,35.779999,26.820000,72.830002,14.268,41.990002,18.546665,30.700001,19.256199,...,28.910000,19.820000,17.780001,94.779999,22.650000,12.16,46.450001,35.974998,27.500000,116222.000000
1,2021-03-22,15.54,36.049999,26.719999,72.330002,14.000,39.430000,18.340000,30.790001,19.173553,...,29.240000,19.790001,17.230000,93.209999,21.969999,12.08,45.830002,35.650002,27.660000,114979.000000
2,2021-03-23,15.08,36.230000,26.950001,73.430000,14.156,36.750000,18.056665,29.680000,18.983471,...,28.799999,19.570000,16.650000,91.059998,21.760000,12.11,45.570000,35.805000,27.000000,113262.000000
3,2021-03-24,14.80,34.669998,26.469999,69.080002,13.700,36.529999,17.930000,29.139999,18.685949,...,27.840000,19.459999,16.420000,93.150002,21.290001,11.44,45.000000,35.259998,26.709999,112064.000000
4,2021-03-25,14.99,36.250000,26.820000,69.830002,14.374,37.209999,17.926666,29.559999,19.066114,...,28.209999,20.160000,16.360001,92.440002,22.270000,12.04,45.200001,35.535000,27.730000,113750.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,2023-04-10,14.46,7.820000,17.840000,63.590000,13.920,10.790000,10.910000,39.040001,11.710000,...,27.250000,14.450000,7.240000,78.230003,13.990000,1.88,39.570000,38.389999,7.260000,101847.000000
516,2023-04-11,14.78,8.230000,18.290001,69.000000,14.710,12.280000,11.630000,39.939999,12.190000,...,28.200001,14.730000,7.730000,82.360001,14.540000,2.03,40.180000,39.090000,7.990000,106214.000000
517,2023-04-12,14.76,8.170000,18.350000,68.910004,14.440,12.150000,11.860000,42.720001,12.270000,...,28.400000,14.890000,7.660000,80.599998,14.600000,2.03,40.380001,39.740002,8.110000,106890.000000
518,2023-04-13,14.59,8.000000,18.629999,68.870003,13.750,11.970000,11.740000,42.700001,12.390000,...,26.680000,14.730000,7.650000,79.510002,14.050000,2.05,40.840000,39.369999,8.280000,106458.000000
519,2023-04-14,14.65,7.590000,18.620001,67.860001,13.220,11.570000,11.970000,43.430000,12.400000,...,26.750000,14.810000,7.530000,78.809998,13.800000,1.99,NaN,38.759998,8.160000,106279.367188

In [25]:
df_melted = pd.melt(dataframe, id_vars="Date", var_name='Ticker', value_name='Price')
df_melted.to_sql("dash_fechamento_curso", con=aws.engine)

46280